{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenAPI Plant Store",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://sandbox.mintlify.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/plants": {
      "get": {
        "description": "Returns all plants from the system that the user has access to",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Plant response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Plant"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a new plant in the store",
        "requestBody": {
          "description": "Plant to add to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPlant"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "plant response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Plant"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/transcripts/v1/categories/{category}/transcripts": {
      "get": {
        "description": "Returns all transcripts within the specified transcript category",
        "parameters": [
          {
            "name": "category",
            "in": "path",
            "description": "The transcript category to list transcripts from",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of transcripts in the category",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TranscriptSummary"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/transcripts/v1/categories/{category}/search": {
      "get": {
        "description": "Searches through transcripts within the specified category and date range",
        "parameters": [
          {
            "name": "category",
            "in": "path",
            "description": "The transcript category to search within",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Search query string",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Start of the date range to search within (ISO 8601 format)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "End of the date range to search within (ISO 8601 format)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of transcripts matching the search criteria",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TranscriptSummary"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/transcripts/v1/{id}": {
      "get": {
        "description": "Returns detailed data for a single transcript, including the full text and segment-level speaker and timing information",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the transcript",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detailed transcript data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transcript"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/plants/{id}": {
      "delete": {
        "description": "Deletes a single plant based on the ID supplied",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of plant to delete",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Plant deleted",
            "content": {}
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {
    "/plant/webhook": {
      "post": {
        "description": "Information about a new plant added to the store",
        "requestBody": {
          "description": "Plant added to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPlant"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return a 200 status to indicate that the data was received successfully"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Plant": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the plant",
            "type": "string"
          },
          "tag": {
            "description": "Tag to specify the type",
            "type": "string"
          }
        }
      },
      "NewPlant": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Plant"
          },
          {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "description": "Identification number of the plant",
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ]
      },
      "Segment": {
        "type": "object",
        "required": [
          "start",
          "end",
          "text",
          "speaker"
        ],
        "properties": {
          "start": {
            "description": "Start time of the segment in seconds",
            "type": "number",
            "format": "float"
          },
          "end": {
            "description": "End time of the segment in seconds",
            "type": "number",
            "format": "float"
          },
          "text": {
            "description": "Transcribed text for this segment",
            "type": "string"
          },
          "speaker": {
            "description": "Speaker identifier for this segment",
            "type": "string"
          }
        }
      },
      "TranscriptExtraData": {
        "type": "object",
        "properties": {
          "segments": {
            "description": "List of transcript segments with speaker and timing information",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Segment"
            }
          }
        }
      },
      "Transcript": {
        "type": "object",
        "required": [
          "id",
          "title",
          "url",
          "scheduled_time",
          "text",
          "transcript_status"
        ],
        "properties": {
          "id": {
            "description": "Unique identifier for the transcript",
            "type": "string"
          },
          "title": {
            "description": "Title of the transcript",
            "type": "string"
          },
          "url": {
            "description": "URL of the original audio or video source",
            "type": "string",
            "format": "uri"
          },
          "scheduled_time": {
            "description": "Scheduled time of the event in ISO 8601 format",
            "type": "string",
            "format": "date-time"
          },
          "text": {
            "description": "Full transcript text",
            "type": "string"
          },
          "transcript_status": {
            "description": "Current status of the transcript",
            "type": "string"
          },
          "extra_data": {
            "$ref": "#/components/schemas/TranscriptExtraData"
          }
        }
      },
      "TranscriptSummary": {
        "type": "object",
        "required": [
          "id",
          "title",
          "scheduled_time",
          "transcript_status"
        ],
        "properties": {
          "id": {
            "description": "Unique identifier for the transcript",
            "type": "string"
          },
          "title": {
            "description": "Title of the transcript",
            "type": "string"
          },
          "scheduled_time": {
            "description": "Scheduled time of the event in ISO 8601 format",
            "type": "string",
            "format": "date-time"
          },
          "transcript_status": {
            "description": "Current status of the transcript",
            "type": "string"
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}